{% extends 'base.html' %}

{% block head %} 
<title>Task Smash</title>
{% endblock %}

{% block body %}
<h1>Task Smash 2.0</h1>
{% if tasks | length < 1 %}
    <p>No tasks yet! Create one here:</p>
{% else %}
<table>
    <tr>
        <th>Task</th>
        <th>Added</th>
        <th>Actions</th>
        <th>Completed</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.created }}</td>
        <td>
            <a href="/delete/{{ task.id }}">Delete</a>
            <br/>
            <a href="/update/{{ task.id }}">Edit</a>
        </td>
        {% if task.isCompleted == false %}
            <td> Task is not completed
            <form action="/complete/{{ task.id }}" method="POST">
                <button type="submit" id="btn_complete">Complete</button>
            </form>
        </td>
        {% else %}
            <td>Task is completed congraglation
                <form action="/complete/{{ task.id }}" method="POST">
                    <button type="submit" id="btn_complete">re-do</button>
                </form>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}
<form action="/" method="POST">
    <input type="text" name="content" id="content" required/>
    <button type="submit" id="btn_add">Add task</button>
</form>
{% endblock %}